@using Cs6065_Homework2.Models.ViewModels
@model ScoreboardViewModel

@{
    ViewData["Title"] = "Scoreboard";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (Model == null)
    {
        <p>error loading scoreboard! sorry about that.</p>
    }
    else
    {
        <partial name="_Scoreboard" model="@Model"></partial>
    }
</div>
