@{
    string GridId = "quarterback-grid";
    string GridName = "quarterback_grid";
    string PositionDataRoute = "/Player/Quarterback/Json";
    string NameColumnWidth = "100px";
    string TeamNameColumnWidth = "150px";
    string StandardColumnWidth = "75px";
}
<div id="@GridId" style="width: 100%; height: 300px;"></div>
<script>
$(function () {
    $('#@GridId').w2grid({
        name: '@GridName',
        header: 'List of Quarterbacks',
        columns: [
            {
                field: 'Id',
                caption: 'Player Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'FirstName',
                caption: 'FN',
                title: 'First Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'LastName',
                caption: 'LN',
                title: 'Last Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'TeamId',
                caption: 'Team Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'Team',
                caption: 'Team',
                size: '@TeamNameColumnWidth',
                render: function(record) { return record.Team.Name; }
            },
            {
                field: 'Position',
                caption: 'Pos',
                title: 'Position', hidden: true,
                size: '@StandardColumnWidth'
            },
            {
                field: 'PassesCompleted',
                caption: 'Cmp',
                title: 'Passes Completed',
                size: '@StandardColumnWidth'
            },
            {
                field: 'PassesCompletionPercentage',
                caption: 'Cmp%',
                title: 'Percentage of Passes Completed',
                size: '@StandardColumnWidth'
            },
            {
                field: 'PassesAttempted',
                caption: 'Att',
                title: 'Passes Attempted',
                size: '@StandardColumnWidth'
            },
            {
                field: 'PassingYardsGained',
                caption: 'Yds',
                title: 'Yards Gained by Passing',
                size: '@StandardColumnWidth'
            },
            {
                field: 'PassingTouchdowns',
                caption: 'TD',
                title: 'Passing Touchdowns',
                size: '@StandardColumnWidth'
            },
            {
                field: 'InterceptionsThrown',
                caption: 'Int',
                title: 'Interceptions Thrown',
                size: '@StandardColumnWidth'
            },
            {
                field: 'FirstDownsPassing',
                caption: '1D',
                title: 'First Downs Passing',
                size: '@StandardColumnWidth'
            }
        ]
    });
    w2ui["@GridName"].load("@PositionDataRoute");
});
</script>
