@{
    string GridId = "runningback-grid";
    string GridName = "runningback_grid";
    string PositionDataRoute = "/Player/RunningBack/Json";
    string NameColumnWidth = "100px";
    string TeamNameColumnWidth = "150px";
    string StandardColumnWidth = "75px";
}
<div id="@GridId" style="width: 100%; height: 300px;"></div>
<script>
$(function () {
    $('#@GridId').w2grid({
        name: '@GridName',
        header: 'List of Running Backs',
        columns: [
            {
                field: 'Id',
                caption: 'Player Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'FirstName',
                caption: 'FN',
                title: 'First Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'LastName',
                caption: 'LN',
                title: 'Last Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'TeamId',
                caption: 'Team Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'Team',
                caption: 'Team',
                size: '@TeamNameColumnWidth',
                render: function(record) { return record.Team.Name; }
            },
            {
                field: 'RushingAttempts',
                caption: 'Rush',
                title: 'Rushing Attempts',
                size: '@StandardColumnWidth'
            },
            {
                field: 'RushingYards',
                caption: 'Yds',
                title: 'Rushing Yards Gained',
                size: '@StandardColumnWidth'
            },
            {
                field: 'RushingYardsPerAttempt',
                caption: 'Y/A',
                title: 'Rushing Yards per Attempt',
                size: '@StandardColumnWidth'
            },
            {
                field: 'RushingTouchdowns',
                caption: 'TD',
                title: 'Rushing Touchdowns',
                size: '@StandardColumnWidth'
            },
            {
                field: 'FirstDownsRushing',
                caption: '1D',
                title: 'First Downs Rushing',
                size: '@StandardColumnWidth'
            },
            {
                field: 'LongestRushingAttempt',
                caption: 'Lng',
                title: 'Longest Rushing Attempt',
                size: '@StandardColumnWidth'
            }
        ]
    });
    w2ui["@GridName"].load("@PositionDataRoute");
});
</script>
