@{
    string GridId = "tightend-grid";
    string GridName = "tightend_grid";
    string PositionDataRoute = "/Player/TightEnd/Json";
    string NameColumnWidth = "100px";
    string TeamNameColumnWidth = "150px";
    string StandardColumnWidth = "75px";
}
<div id="@GridId" style="width: 100%; height: 300px;"></div>
<script>
$(function () {
    $('#@GridId').w2grid({
        name: '@GridName',
        header: 'List of Tight Ends',
        columns: [
            {
                field: 'Id',
                caption: 'Player Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'FirstName',
                caption: 'FN',
                title: 'First Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'LastName',
                caption: 'LN',
                title: 'Last Name',
                size: '@NameColumnWidth'
            },
            {
                field: 'TeamId',
                caption: 'Team Id',
                size: '@StandardColumnWidth',
                hidden: true
            },
            {
                field: 'Team',
                caption: 'Team',
                size: '@TeamNameColumnWidth',
                render: function(record) { return record.Team.Name; }
            },
            {
                field: 'PassTargets',
                caption: 'Tgt',
                title: 'Pass Targets',
                size: '@StandardColumnWidth'
            },
            {
                field: 'Receptions',
                caption: 'Rec',
                title: 'Receptions',
                size: '@StandardColumnWidth'
            },
            {
                field: 'ReceivingYards',
                caption: 'Yds',
                title: 'Receiving Yards',
                size: '@StandardColumnWidth'
            },
            {
                field: 'FirstDownsReceiving',
                caption: '1D',
                title: 'First Downs Receiving',
                size: '@StandardColumnWidth'
            },
            {
                field: 'YardsBeforeCatch',
                caption: 'YBC',
                title: 'Yards Before Catch',
                size: '@StandardColumnWidth'
            },
            {
                field: 'YardsBeforeCatchPerReception',
                caption: 'YBC/R',
                title: 'Yards Before Catch per Reception',
                size: '@StandardColumnWidth'
            },
            {
                field: 'YardsAfterCatch',
                caption: 'YAC',
                title: 'Yards After Catch',
                size: '@StandardColumnWidth'
            },
            {
                field: 'YardsAfterCatchPerReception',
                caption: 'YAC/R',
                title: 'Yards After Catch per Reception',
                size: '@StandardColumnWidth'
            }
        ]
    });
    w2ui["@GridName"].load("@PositionDataRoute");
});
</script>
