@{
    ViewData["Title"] = "Nfl Players";
}

<h1>@ViewData["Title"]</h1>

<section>
    <h2>Quarterbacks</h2>
    <partial name="NflPlayer/_QuarterbackGrid" />
</section>
<section>
    <h2>Running Backs</h2>
    <partial name="NflPlayer/_RunningBackGrid" />
</section>
<section>
    <h2>Tight Ends</h2>
    <partial name="NflPlayer/_TightEndGrid" />
</section>
<section>
    <h2>Wide Receivers</h2>
    <partial name="NflPlayer/_WideReceiverGrid" />
</section>
